@import "base.css";
html {
    font-size: 100px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (min-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html {
        font-size: 55.2px; } }
header{
    height: 0.88rem;
    padding: 0 0.24rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid rgba(41, 167, 255, 0.13);
    margin-bottom: 0.24rem;
}
header a{
    width: 0.25rem;
    height: 0.25rem;
    padding: 0.23rem 0;
}
header a img{
    width: 0.25rem;
    color: #36a8fe;
}
header span{
    display: inline-block;
    font-size: 0.38rem;
    color: #4ebbfe;
    margin: 0.27rem 0;
    line-height: 0.4rem;
}
nav{
    overflow: hidden;
    margin: 0 0.24rem;
}
nav p{
    font-size: 0.26rem;
    text-align: center;
    color: #4f5b64;
    margin: 0.4rem 0 0.2rem 0;
    position: relative;
}
nav p::before{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background: #34da87;
    border-radius: 0.03rem;
    position: absolute;
    left: 2.3rem;
    top: 0.18rem;
}
nav p::after{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background: #34da87;
    border-radius: 0.03rem;
    position: absolute;
    right: 2.3rem;
    top: 0.18rem;
}
nav p b{
    color: #32d796;
}
.one{
    margin: 1.1rem 0.24rem 0 0.24rem;
    overflow: hidden;
}
.one div:nth-child(1){
    width: 0.64rem;
    height: 0.6rem;
    padding: 0.23rem 0.21rem;
    float: left;
    background: rgba(245, 125, 114, 0.75);
    border-radius: 50%;
}
.one div:nth-child(1) img{
    width: 0.64rem;
    height: 0.6rem;
}
.one div:nth-child(2){
    height: 1.06rem;
    font-size: 0.28rem;
    line-height: 1.06rem;
    margin-left: 0.3rem;
    color: #47505f;
    float: left;
}
.one div:nth-child(3){
    height: 1.06rem;
    font-size: 0.28rem;
    line-height: 1.06rem;
    margin-left: 2.4rem;
    color: #47505f;
    float: left;
}
.one div:nth-child(4){
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 0.4rem;
    background: #36a8fe;
    border-radius: 50%;
    float: right;
}
.one div:nth-child(1){
    width: 0.64rem;
    height: 0.6rem;
    padding: 0.23rem 0.21rem;
    float: left;
    background: rgba(245, 125, 114, 0.75);
    border-radius: 50%;
}
.two{
    margin: 0.43rem 0.24rem 0 0.24rem;
    overflow: hidden;
}
.two div:nth-child(1){
    width: 0.76rem;
    height: 0.76rem;
    padding: 0.15rem 0.15rem;
    float: left;
    background: rgba(55, 223, 116, 0.75);;
    border-radius: 50%;
}
.two div:nth-child(1) img{
    width: 0.76rem;
    height: 0.76rem;
}
.two div:nth-child(2){
    height: 1.06rem;
    font-size: 0.28rem;
    line-height: 1.06rem;
    margin-left: 0.3rem;
    color: #47505f;
    float: left;
}
.two div:nth-child(3){
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 0.4rem;
    background: #dddddd;
    border-radius: 50%;
    float: right;
}
.three{
    width: 4.54rem;
    height: 0.6rem;
    margin: 3.26rem 1.52rem 0 1.44rem;
}
.three a{
    text-decoration: none;
}
.three a div{
    border-radius: 0.3rem;
    background: rgba(55, 223, 116, 0.75);
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.2rem;
    color: #ffffff;
}